@media(min-width: 320px) {
  .home {
    position: relative;
    background-image: url(background-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin-top: 90px;
  }

  .home-content {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    font-size: 26px;
    text-align: left;
    transition: all 2s ease-in-out;
  }

  .welcome-container div:first-child {
    font-size: 2rem;
    transform: translateX(100%);
    opacity: 0;
  }

  .welcome-container div:last-child {
    font-size: 1.5rem;
    transform: translateX(-100%);
    opacity: 0;
  }

  .welcome-container.animation div {
    transform: translateX(0);
    opacity: 1;
  }

  .avatar {
    width: 200px;
  }

  .home-background {
    display: none;
  }
}

@media(min-width: 420px) {
  .home-content {
    width: 65%;
  }
}

@media(min-width: 768px) {
  .home {
    padding-top: 50px;
    background: none;
  }

  .home-content {
    background: none;
  }

  .welcome-container {
    text-align: center;
  }

  .welcome-container div:first-child {
    font-size: 2rem;
  }

  .welcome-container div:last-child {
    font-size: 1.5rem;
  }

  .home-background {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .home-background img {
    margin: 0 auto;
  }
}

@media(min-width: 992px) {
  .home {
    height: 60vh;
  }
}