@media(min-width: 320px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 30px;
    text-align: center;
    font-size: 1.1rem;
    background: rgba(250, 250, 250, 0.6);
  }

  .projects h3 {
    margin-bottom: 50px;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .projects-list {
    text-transform: lowercase;
  }

  .projects-list .project {
    border-radius: 10px;
    color: #FFFFFF;
  }

  .projects-list .project + .project {
    margin-top: 40px;
  }

  .projects-list .project:first-child {
    background: #7FE386;
  }

  .projects-list .project:nth-child(2) {
    background: #7267EC;
  }

  .projects-list .project:nth-child(3) {
    background: #7BD7D5;
  }

  .projects-list .project a {
    display: block;
    padding: 70px 15px;

    color: #FFFFFF;
  }
}

@media(min-width: 768px) {
  .projects {
    display: block;
  }

  .projects h3 {
    font-size: 2rem;
  }

  .projects-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .projects-list .project a {
    width: 210px;
  }

  .projects-list .project + .project {
    margin-top: 0;
  }
}

@media(min-width: 992px) {
  .projects-list .project {
    font-size: 1.5rem;
  }

  .projects-list .project a {
    padding: 100px 20px;
    width: 300px;
    color: #FFFFFF;
  }
}