@media(min-width: 320px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 30px;
    text-align: center;
    font-size: 1.1rem;
    background: rgba(250, 250, 250, 0.6);
  }

  .projects h3 {
    margin: 50px 0;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .projects-list {
    text-transform: lowercase;
  }

  .projects-list .project {
    border-radius: 10px;
    color: #FFFFFF;
  }

  .projects-list .project + .project {
    margin-top: 20px;
  }

  .projects-list .project:nth-child(3n + 1) {
    background: #7FE386;
  }

  .projects-list .project:nth-child(3n + 2) {
    background: #7267EC;
  }

  .projects-list .project:nth-child(3n + 3) {
    background: #7BD7D5;
  }

  .projects-list .project a {
    display: block;
    padding: 70px 15px;
    width: 200px;
    color: #FFFFFF;
  }
}

@media(min-width: 768px) {
  .projects {
    display: block;
  }

  .projects h3 {
    font-size: 2rem;
  }

  .projects-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 650px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
  }

  .projects-list .project a {
    width: 210px;
  }

  .projects-list .project + .project {
    margin-top: 0;
  }
}

@media(min-width: 992px) {
  .projects-list .project {
    font-size: 1.5rem;
    overflow: hidden;
  }

  .projects-list .project:hover a {
    transform: translateY(-5px);
    text-shadow: 5px 25px rgba(250, 250, 250, 0.6);
  }

  .projects-list .project a {
    padding: 90px 20px;
    width: 270px;
    color: #FFFFFF;
  }
}